
.row 
  .col-3 
    b.text-secondary Action
  .col-3 
    b.text-secondary Record
  .col-3 
    b.text-secondary Actor
  .col-3 
    b.text-secondary Created At

- @activities.each do |activity|
  .activity.activity-info[type="button" data-bs-toggle="collapse" data-bs-target="#activity_#{activity.id}" aria-expanded="false" aria-controls="collapseExample"]
    .row 
      .col-3
        = activity_action(activity) 
      .col-3
        = t(activity.record_display_name)
      .col-3 
        = t(activity.actor_display_name)
      .col-3 
        = l(activity.created_at, format: :long)
  .collapse id="activity_#{activity.id}"
    pre
      code.language-json
        = format_json_for_display(activity.attrs)
javascript:
  Prism.highlightAll();